body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #563d7c;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    width: 80px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    margin-left: 20px;
}

#order-section, #orders-list {
    margin: 30px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #563d7c;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.1em;
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

button {
    background-color: #563d7c;
    color: white;
    border: none;
    cursor: pointer;
    width: 40%;
}

button:hover {
    background-color: #452f65;
}

#coffee-images {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.coffee-image {
    width: 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#orders-list ul {
    list-style-type: none;
    padding: 0;
}

#orders-list li {
    background-color: #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
